version: "3.2"

services:
  # This service is shutdown
  database:
    entrypoint: "echo true"

  prestashop:
    volumes:
    # If is necessary add another sources
    - /var/www/prestashop:/var/www/html
    environment:
      # IP Address from database to use
      DB_SERVER: db
      PS_INSTALL_AUTO: 0
      # Is possible replace another values by default.
      # DB_USER: Override default MySQL user (default value: root)
      # DB_PASSWD: Override default MySQL password (default value: admin)
      # DB_PREFIX: Override default tables prefix (default value: ps_)
      # Another vars in: https://store.docker.com/community/images/prestashop/prestashop
    networks:
      development:
        ipv4_address: db

# If is necessary add another network in container
networks:
  development:
    external: true