@CHARSET "ISO-8859-1";
p.payment_module a.placetopay:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

p.payment_module a.placetopay {
    background-color: #fbfbfb;
}

p.payment_module a.placetopay:hover {
    background-color: #f6f6f6;
}

.p2pinput {
    width: 260ppxx;
}

.p2pcontent {
    padding-left: 50px;
    padding-right: 50px;
}

#HOOK_BEFORECARRIER {
    padding-bottom: 20px;
    padding-top: 20px;
}

#HOOK_BEFORECARRIER > form > div:nth-child(1) > div, #HOOK_BEFORECARRIER > form > div:nth-child(2) > div {
    padding-left: 0;
    padding-right: 0;
}

p.payment_module a.placetopay {
    text-align: justify;
    padding-right: 90px;
}

#uniform-idtype.selector span {
    max-width: 260px;
}

#uniform-idtype, #idnumber {
    max-width: 271px;
}

p.payment_module a.placetopay {
    padding: 33px 40px 34px 20px;
}

table.response td {
    padding: 5px;
}

p.p2pdetail {
    font-size: medium;
    font-weight: 600;
}